#mainImage {
    border: 2px solid rgb(92, 92, 92);
    margin-top: 2em;
    box-shadow: 0px 0px 40px red;
}


.container {
    margin-top: 4rem;
    background: rgb(69, 68, 68) 80% url('https://images.unsplash.com/photo-1529753253655-470be9a42781?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80');
    border-radius: 1rem;
    border: 1px solid grey;
    padding: 2rem;
}